body{background-color: rgb(46, 44, 48 );
  }

.menu {

    width: 20%;
    background-color: rgb(46, 44, 48 );
    position: fixed;
    height: 100vh;
    overflow: auto;
    flex-direction: column;
  }
  .menu a:hover{
    color:grey;
}
  .menu a{
    display: block;
    color: white;
    padding: 10px;
    text-decoration: chartreuse;
}

.parrafos{
    margin-left: 20%;
    height: 100vh;
    display: flex;
    text-align: center;
    padding: 10px;
    flex-direction: column;
}
.p1{
    background-color: cyan;
}

.p2{
    background-color: yellow;
}
.p3{
    background-color: orange;
}
.p4{
    background-color: red;
}